<?xml version="1.0" encoding="UTF-8" ?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0" id="se.frostyelk.cordova.mifare" version="0.1.0">
    <name>Cordova MIFARE plugin</name>
    <description>Cordova plugin for NFC tags based on MIFARE/NTAG2</description>
    <author>Arne Sikstrom</author>
    <license>Apache License, Version 2.0</license>
    <keywords>NFC, MIFARE, NTAG</keywords>

    <engines>
        <engine name="cordova" version=">=5.1.1"/>
    </engines>

    <js-module src="www/MifarePlugin.js" name="MifarePlugin">
        <clobbers target="MifarePlugin"/>
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MifarePlugin">
                <param name="android-package" value="se.frostyelk.cordova.mifare.MifarePlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*/application/activity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                       android:resource="@xml/nfc_tech_filter"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.NFC"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-feature android:name="android.hardware.nfc" android:required="true"/>
        </config-file>

        <source-file src="libs/android/nxpnfcliblite.jar" target-dir="libs" framework="true"/>

        <source-file src="src/android/MifarePlugin.java" target-dir="src/se/frostyelk/cordova/mifare"/>
        <source-file src="xml/nfc_tech_filter.xml" target-dir="res/xml"/>
    </platform>

</plugin>
